A lot of data preprocessing here.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv( "/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/new.csv",sep = '\t')

In [3]:
violence = pd.read_csv("/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/violencenew.csv", sep = '\t')

In [4]:
violence = violence.drop(['Unnamed: 0'], 1)

In [5]:
violence.columns = ['Precinct', 'Violence Crime', 'V2010', 'V2011', 'V2012', 'V2013', 'V2014', 'V2015']

In [6]:
violence['Violence Crime'] = violence['Violence Crime'].str.replace('HARASSMENT 2                          ','HARASSMENT 2')

In [7]:
test_df1 = pd.read_csv("/Users/YuchenZheng/Desktop/nycx.csv", sep = ',')

In [8]:
test_df1 = test_df1.drop(['Unnamed: 2','Manhattan Precincts', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'], axis=1)

In [9]:
test_df1 = test_df1.dropna()

In [10]:
test_df1 = test_df1.drop(test_df1.index['0'])

/Users/YuchenZheng/anaconda/lib/python3.5/site-packages/pandas/indexes/base.py:1423: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return getitem(key)

In [11]:
test_df1.columns = ['Precinct', 'Zip Code']

In [12]:
test_df2 = pd.read_csv("/Users/YuchenZheng/Desktop/zippp.csv", sep = '\t')

In [13]:
frames = [test_df1, test_df2]

result_df = pd.concat(frames)

In [14]:
result_df = result_df.drop(['index'])

In [15]:
result_df.shape

(190, 2)

In [16]:
data = data.rename(columns = {'Incident Zip':'Zip Code'})

In [17]:
result_df['Zip Code']=result_df['Zip Code'].astype(int)
data['Zip Code']=data['Zip Code'].astype(int)

In [18]:
data.head()

,Unnamed: 0,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Latitude,Longitude,Location
0,306158,2010-01-01 00:03:46,Noise - Residential,Loud Television,Residential Building/House,11230,BROOKLYN,BROOKLYN,40.612155,-73.955036,"(40.61215458693758, -73.95503629769145)"
1,306135,2010-01-01 00:08:02,Noise - Residential,Loud Music/Party,Residential Building/House,11220,BROOKLYN,BROOKLYN,40.635708,-74.006853,"(40.635707991592696, -74.00685286309795)"
2,306090,2010-01-01 00:08:29,Noise - Residential,Loud Music/Party,Residential Building/House,10036,NEW YORK,MANHATTAN,40.759486,-73.989135,"(40.75948567983112, -73.98913488475046)"
3,306120,2010-01-01 00:08:30,Noise - Residential,Loud Television,Residential Building/House,10303,STATEN ISLAND,STATEN ISLAND,40.634762,-74.169727,"(40.63476223829681, -74.16972676202693)"
4,306173,2010-01-01 00:15:08,Noise - Residential,Banging/Pounding,Residential Building/House,11355,FLUSHING,QUEENS,40.755060,-73.832251,"(40.75506029183953, -73.83225149777755)"

In [19]:
len(result_df['Zip Code'].unique())

187

In [20]:
result_df = result_df.reset_index(drop=True)

In [21]:
result_df.groupby(['Zip Code']).count()[result_df.groupby(['Zip Code']).count()['Precinct']>1]

          Precinct
Zip Code
10011            2
10013            2
10027            2

In [22]:
result_df = result_df.drop(result_df.index[[0,2,16]])

In [23]:
result_df = result_df.reset_index(drop=True)

In [24]:
temp_df = pd.merge(data, result_df, how='left', on=['Zip Code'])

In [25]:
len(temp_df['Precinct'].unique())

83

In [26]:
data.shape

(1981130, 11)

In [27]:
temp_df1 = temp_df[temp_df['Precinct'].notnull()]

In [28]:
temp_df1.shape

(1926547, 12)

In [29]:
temp_df1['Created_Date'] =pd.to_datetime(temp_df1.Created_Date)

/Users/YuchenZheng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [30]:
temp_df1 = temp_df1[temp_df1.Created_Date.dt.year != 2016]

In [31]:
temp_df1.shape

(1569167, 12)

In [32]:
violence = violence.groupby(['Precinct'])[['V2010','V2011','V2012','V2013','V2014','V2015']].sum()

In [33]:
violence = violence.reset_index()

In [34]:
violence = violence.sort(["Precinct"])

/Users/YuchenZheng/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

merge dataframes here

In [35]:
temp_df1.Precinct = temp_df1.Precinct.astype(int)

In [36]:
temp_df2 = pd.merge(left=temp_df1,right=violence, how='left', on=['Precinct'])

In [37]:
temp_df3 = temp_df2[temp_df2['V2010'].notnull()]

In [38]:
poverty = pd.read_csv("/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/poverty.tsv", sep = '\t')

In [39]:
poverty = poverty.drop(['#', 'Location', 'National Rank','City'],1)

In [40]:
temp_df4 = pd.merge(temp_df3, poverty, how='left', on=['Zip Code'])

In [41]:
temp_df4 = temp_df4[temp_df4['Population'].notnull()]

In [42]:
temp_df4['Created_Date'] =pd.to_datetime(temp_df4.Created_Date)

In [43]:
temp_df4.loc[temp_df4["Created_Date"].dt.year != 2010,'V2010'] =np.nan
temp_df4.loc[temp_df4["Created_Date"].dt.year != 2011,'V2011'] =np.nan
temp_df4.loc[temp_df4["Created_Date"].dt.year != 2012,'V2012'] =np.nan
temp_df4.loc[temp_df4["Created_Date"].dt.year != 2013,'V2013'] =np.nan
temp_df4.loc[temp_df4["Created_Date"].dt.year != 2014,'V2014'] =np.nan
temp_df4.loc[temp_df4["Created_Date"].dt.year != 2015,'V2015'] =np.nan

In [44]:
temp_df4 = temp_df4[temp_df4.Created_Date.dt.year != 2016]

In [45]:
temp_df4.shape

(1539582, 20)

In [46]:
temp_df4 = temp_df4.drop(['Unnamed: 0'], 1)

binning function to discretize data

In [47]:
def binning(column):
    median = column.median()
    q75 = column.quantile(0.75)
    q25 = column.quantile(0.25)
    iqr = q75 - q25
    bins = [-999999, q25 - 1.5*iqr, q25, median, q75,
            q75 + 1.5*iqr, 999999]
    bin_names = ['Low Outliers', 'Lower than IQR', 'Within Lower IQR', 'Within Higher IQR', 
                 'Higher than IQR', 'Higher outliers']
    result_dfs = pd.cut(column, bins, labels=bin_names)
    return(result_dfs)

In [48]:
temp_df4['V2010_cat']='---'
temp_df4['V2011_cat']='---'
temp_df4['V2012_cat']='---'
temp_df4['V2013_cat']='---'
temp_df4['V2014_cat']='---'
temp_df4['V2015_cat']='---'

In [49]:
temp_df4.tail()

,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Latitude,Longitude,Location,...,V2014,V2015,Population,% Poverty Level,V2010_cat,V2011_cat,V2012_cat,V2013_cat,V2014_cat,V2015_cat
1557852,2015-12-31 23:53:14,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,40.834988,-73.913096,"(40.83498836390913, -73.91309606358962)",...,NaN,2024.0,"76,656",64.49 %,---,---,---,---,---,---
1557853,2015-12-31 23:55:51,Noise - Residential,Loud Music/Party,Residential Building/House,11416,OZONE PARK,QUEENS,40.689664,-73.838503,"(40.68966427375357, -73.83850277971572)",...,NaN,1862.0,"23,668",23.26 %,---,---,---,---,---,---
1557854,2015-12-31 23:56:34,Noise - Residential,Loud Music/Party,Residential Building/House,10301,STATEN ISLAND,STATEN ISLAND,40.620622,-74.109884,"(40.62062246757604, -74.10988401532107)",...,NaN,3320.0,"38,805",18.16 %,---,---,---,---,---,---
1557855,2015-12-31 23:59:19,Noise - Residential,Loud Music/Party,Residential Building/House,10002,NEW YORK,MANHATTAN,40.710478,-73.986571,"(40.7104778366638, -73.98657106854841)",...,NaN,1172.0,"84,870",35.04 %,---,---,---,---,---,---
1557856,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,NEW YORK,MANHATTAN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)",...,NaN,1502.0,"41,756",37.89 %,---,---,---,---,---,---

In [50]:
temp_df4.loc[:,['V2010_cat']] = binning(temp_df4['V2010'])
temp_df4.loc[:,['V2011_cat']] = binning(temp_df4['V2011'])
temp_df4.loc[:,['V2012_cat']] = binning(temp_df4['V2012'])
temp_df4.loc[:,['V2013_cat']] = binning(temp_df4['V2013'])
temp_df4.loc[:,['V2014_cat']] = binning(temp_df4['V2014'])
temp_df4.loc[:,['V2015_cat']] = binning(temp_df4['V2015'])

In [51]:
temp_df4.tail()

,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Latitude,Longitude,Location,...,V2014,V2015,Population,% Poverty Level,V2010_cat,V2011_cat,V2012_cat,V2013_cat,V2014_cat,V2015_cat
1557852,2015-12-31 23:53:14,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,40.834988,-73.913096,"(40.83498836390913, -73.91309606358962)",...,NaN,2024.0,"76,656",64.49 %,NaN,NaN,NaN,NaN,NaN,Within Higher IQR
1557853,2015-12-31 23:55:51,Noise - Residential,Loud Music/Party,Residential Building/House,11416,OZONE PARK,QUEENS,40.689664,-73.838503,"(40.68966427375357, -73.83850277971572)",...,NaN,1862.0,"23,668",23.26 %,NaN,NaN,NaN,NaN,NaN,Within Higher IQR
1557854,2015-12-31 23:56:34,Noise - Residential,Loud Music/Party,Residential Building/House,10301,STATEN ISLAND,STATEN ISLAND,40.620622,-74.109884,"(40.62062246757604, -74.10988401532107)",...,NaN,3320.0,"38,805",18.16 %,NaN,NaN,NaN,NaN,NaN,Higher than IQR
1557855,2015-12-31 23:59:19,Noise - Residential,Loud Music/Party,Residential Building/House,10002,NEW YORK,MANHATTAN,40.710478,-73.986571,"(40.7104778366638, -73.98657106854841)",...,NaN,1172.0,"84,870",35.04 %,NaN,NaN,NaN,NaN,NaN,Lower than IQR
1557856,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,NEW YORK,MANHATTAN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)",...,NaN,1502.0,"41,756",37.89 %,NaN,NaN,NaN,NaN,NaN,Within Lower IQR

In [54]:
#temp_df4.to_csv('temp_df4.csv', sep = "\t")

In [52]:
misd = pd.read_csv("/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/misdnew.csv", sep = '\t')

In [53]:
misd = misd.drop(['Unnamed: 0'], 1)

In [54]:
misd.Precinct = misd.Precinct.astype(int)

In [55]:
misd.head()

,Precinct,Misd Crime,Misd2010,Misd2011,Misd2012,Misd2013,Misd2014,Misd2015
0,1,MISDEMEANOR POSSESSION OF STOLEN PROPERTY ...,34.0,33.0,42.0,43,37,18
1,1,MISDEMEANOR SEX CRIMES (4),27.0,50.0,44.0,42,43,31
2,1,MISDEMEANOR DANGEROUS DRUGS (1),78.0,91.0,72.0,84,93,98
3,1,MISDEMEANOR DANGEROUS WEAPONS (5),39.0,29.0,32.0,19,32,26
4,1,PETIT LARCENY,1702.0,1938.0,2119.0,2014,1863,1782

In [56]:
misd = misd.groupby(['Precinct'])[['Misd2010','Misd2011','Misd2012','Misd2013','Misd2014','Misd2015']].sum()

In [57]:
misd = misd.reset_index()

In [58]:
temp_df5 = pd.merge(left=temp_df4,right=misd, how='left', on=['Precinct'])

In [59]:
temp_df5.shape

(1539582, 31)

In [60]:
temp_df5 = temp_df5[temp_df5['Misd2010'].notnull()]

In [61]:
temp_df5.loc[temp_df5["Created_Date"].dt.year != 2010,'Misd2010'] =np.nan
temp_df5.loc[temp_df5["Created_Date"].dt.year != 2011,'Misd2011'] =np.nan
temp_df5.loc[temp_df5["Created_Date"].dt.year != 2012,'Misd2012'] =np.nan
temp_df5.loc[temp_df5["Created_Date"].dt.year != 2013,'Misd2013'] =np.nan
temp_df5.loc[temp_df5["Created_Date"].dt.year != 2014,'Misd2014'] =np.nan
temp_df5.loc[temp_df5["Created_Date"].dt.year != 2015,'Misd2015'] =np.nan

In [62]:
temp_df5['Misd2010_cat']='---'
temp_df5['Misd2011_cat']='---'
temp_df5['Misd2012_cat']='---'
temp_df5['Misd2013_cat']='---'
temp_df5['Misd2014_cat']='---'
temp_df5['Misd2015_cat']='---'

In [63]:
temp_df5.loc[:,['Misd2010_cat']] = binning(temp_df5['Misd2010'])
temp_df5.loc[:,['Misd2011_cat']] = binning(temp_df5['Misd2011'])
temp_df5.loc[:,['Misd2012_cat']] = binning(temp_df5['Misd2012'])
temp_df5.loc[:,['Misd2013_cat']] = binning(temp_df5['Misd2013'])
temp_df5.loc[:,['Misd2014_cat']] = binning(temp_df5['Misd2014'])
temp_df5.loc[:,['Misd2015_cat']] = binning(temp_df5['Misd2015'])

In [64]:
major = pd.read_csv("/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/majornew.csv", sep = '\t')

In [65]:
major = major.drop(['Unnamed: 0'], 1)

In [66]:
major.Precinct = major.Precinct.astype(int)

In [67]:
major.head()

,Precinct,Major Crime,M2010,M2011,M2012,M2013,M2014,M2015
0,1,MURDER & NON NEGL. MANSLAUGHTER ...,2.0,0.0,1.0,0,0,1
1,1,RAPE,6.0,13.0,10.0,12,8,7
2,1,ROBBERY,96.0,102.0,81.0,68,50,79
3,1,FELONY ASSAULT,68.0,94.0,110.0,87,76,86
4,1,BURGLARY,170.0,155.0,188.0,171,145,138

In [68]:
major = major.groupby(['Precinct'])[['M2010','M2011','M2012','M2013','M2014','M2015']].sum()

In [69]:
major = major.reset_index()

In [70]:
temp_df6 = pd.merge(left=temp_df5,right=major, how='left', on=['Precinct'])

In [71]:
temp_df6.shape

(1539582, 43)

In [72]:
temp_df6.loc[temp_df6["Created_Date"].dt.year != 2010,'M2010'] =np.nan
temp_df6.loc[temp_df6["Created_Date"].dt.year != 2011,'M2011'] =np.nan
temp_df6.loc[temp_df6["Created_Date"].dt.year != 2012,'M2012'] =np.nan
temp_df6.loc[temp_df6["Created_Date"].dt.year != 2013,'M2013'] =np.nan
temp_df6.loc[temp_df6["Created_Date"].dt.year != 2014,'M2014'] =np.nan
temp_df6.loc[temp_df6["Created_Date"].dt.year != 2015,'M2015'] =np.nan

In [73]:
temp_df6['M2010_cat']='---'
temp_df6['M2011_cat']='---'
temp_df6['M2012_cat']='---'
temp_df6['M2013_cat']='---'
temp_df6['M2014_cat']='---'
temp_df6['M2015_cat']='---'

In [74]:
temp_df6.tail()

,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Latitude,Longitude,Location,...,M2012,M2013,M2014,M2015,M2010_cat,M2011_cat,M2012_cat,M2013_cat,M2014_cat,M2015_cat
1539577,2015-12-31 23:53:14,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,40.834988,-73.913096,"(40.83498836390913, -73.91309606358962)",...,NaN,NaN,NaN,2686.0,---,---,---,---,---,---
1539578,2015-12-31 23:55:51,Noise - Residential,Loud Music/Party,Residential Building/House,11416,OZONE PARK,QUEENS,40.689664,-73.838503,"(40.68966427375357, -73.83850277971572)",...,NaN,NaN,NaN,2850.0,---,---,---,---,---,---
1539579,2015-12-31 23:56:34,Noise - Residential,Loud Music/Party,Residential Building/House,10301,STATEN ISLAND,STATEN ISLAND,40.620622,-74.109884,"(40.62062246757604, -74.10988401532107)",...,NaN,NaN,NaN,2294.0,---,---,---,---,---,---
1539580,2015-12-31 23:59:19,Noise - Residential,Loud Music/Party,Residential Building/House,10002,NEW YORK,MANHATTAN,40.710478,-73.986571,"(40.7104778366638, -73.98657106854841)",...,NaN,NaN,NaN,1562.0,---,---,---,---,---,---
1539581,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,NEW YORK,MANHATTAN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)",...,NaN,NaN,NaN,2630.0,---,---,---,---,---,---

In [75]:
temp_df6.loc[:,['M2010_cat']] = binning(temp_df6['M2010'])
temp_df6.loc[:,['M2011_cat']] = binning(temp_df6['M2011'])
temp_df6.loc[:,['M2012_cat']] = binning(temp_df6['M2012'])
temp_df6.loc[:,['M2013_cat']] = binning(temp_df6['M2013'])
temp_df6.loc[:,['M2014_cat']] = binning(temp_df6['M2014'])
temp_df6.loc[:,['M2015_cat']] = binning(temp_df6['M2015'])

In [76]:
nonmajor = pd.read_csv("/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/nonmajornew.csv", sep = '\t')

In [77]:
nonmajor = nonmajor.drop(['Unnamed: 0'], 1)

In [78]:
nonmajor.Precinct = nonmajor.Precinct.astype(int)

In [79]:
nonmajor.head()

,Precinct,NonMajor Crime,NM2010,NM2011,NM2012,NM2013,NM2014,NM2015
0,1,FELONY POSSESSION STOLEN PROPERTY,17.0,15.0,12.0,10,31,13
1,1,FORGERY/THEFT-FRAUD/IDENTITY THEFT ...,197.0,169.0,183.0,111,142,138
2,1,ARSON,5.0,3.0,3.0,3,9,1
3,1,FELONY SEX CRIMES (3),7.0,13.0,12.0,14,7,13
4,1,FELONY DANGEROUS DRUGS (1),21.0,29.0,28.0,37,33,18

In [80]:
nonmajor = nonmajor.groupby(['Precinct'])[['NM2010','NM2011','NM2012','NM2013','NM2014','NM2015']].sum()

In [81]:
nonmajor = nonmajor.reset_index()

In [82]:
final = pd.merge(left=temp_df6,right=nonmajor, how='left', on=['Precinct'])

In [83]:
final.loc[final["Created_Date"].dt.year != 2010,'NM2010'] =np.nan
final.loc[final["Created_Date"].dt.year != 2011,'NM2011'] =np.nan
final.loc[final["Created_Date"].dt.year != 2012,'NM2012'] =np.nan
final.loc[final["Created_Date"].dt.year != 2013,'NM2013'] =np.nan
final.loc[final["Created_Date"].dt.year != 2014,'NM2014'] =np.nan
final.loc[final["Created_Date"].dt.year != 2015,'NM2015'] =np.nan

In [84]:
final['NM2010_cat']='---'
final['NM2011_cat']='---'
final['NM2012_cat']='---'
final['NM2013_cat']='---'
final['NM2014_cat']='---'
final['NM2015_cat']='---'

In [85]:
final.loc[:,['NM2010_cat']] = binning(final['NM2010'])
final.loc[:,['NM2011_cat']] = binning(final['NM2011'])
final.loc[:,['NM2012_cat']] = binning(final['NM2012'])
final.loc[:,['NM2013_cat']] = binning(final['NM2013'])
final.loc[:,['NM2014_cat']] = binning(final['NM2014'])
final.loc[:,['NM2015_cat']] = binning(final['NM2015'])

In [87]:
final.to_csv('final.csv', sep = "\t")

In [17]:
final = pd.read_csv( "/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/final.csv",sep = '\t')

/Users/YuchenZheng/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,21,22,23,24,32,33,34,35,36,44,45,46,47,48,56,57,58,59,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [88]:
final.tail()

,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Latitude,Longitude,Location,...,NM2012,NM2013,NM2014,NM2015,NM2010_cat,NM2011_cat,NM2012_cat,NM2013_cat,NM2014_cat,NM2015_cat
1539577,2015-12-31 23:53:14,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,40.834988,-73.913096,"(40.83498836390913, -73.91309606358962)",...,NaN,NaN,NaN,1672.0,NaN,NaN,NaN,NaN,NaN,Within Higher IQR
1539578,2015-12-31 23:55:51,Noise - Residential,Loud Music/Party,Residential Building/House,11416,OZONE PARK,QUEENS,40.689664,-73.838503,"(40.68966427375357, -73.83850277971572)",...,NaN,NaN,NaN,1328.0,NaN,NaN,NaN,NaN,NaN,Within Lower IQR
1539579,2015-12-31 23:56:34,Noise - Residential,Loud Music/Party,Residential Building/House,10301,STATEN ISLAND,STATEN ISLAND,40.620622,-74.109884,"(40.62062246757604, -74.10988401532107)",...,NaN,NaN,NaN,1520.0,NaN,NaN,NaN,NaN,NaN,Within Higher IQR
1539580,2015-12-31 23:59:19,Noise - Residential,Loud Music/Party,Residential Building/House,10002,NEW YORK,MANHATTAN,40.710478,-73.986571,"(40.7104778366638, -73.98657106854841)",...,NaN,NaN,NaN,964.0,NaN,NaN,NaN,NaN,NaN,Lower than IQR
1539581,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,NEW YORK,MANHATTAN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)",...,NaN,NaN,NaN,1476.0,NaN,NaN,NaN,NaN,NaN,Within Lower IQR

In [89]:
final = final.drop(['Latitude', 'Longitude','Location'],1)

In [90]:
final['Created_Date'] =pd.to_datetime(final.Created_Date)

In [98]:
#final = final.drop(['Unnamed: 0'], 1)

In [23]:
final.columns

Index(['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type',
       'Zip Code', 'City', 'Borough', 'Precinct', 'V2010', 'V2011', 'V2012',
       'V2013', 'V2014', 'V2015', 'Population', '% Poverty Level', 'V2010_cat',
       'V2011_cat', 'V2012_cat', 'V2013_cat', 'V2014_cat', 'V2015_cat',
       'Misd2010', 'Misd2011', 'Misd2012', 'Misd2013', 'Misd2014', 'Misd2015',
       'Misd2010_cat', 'Misd2011_cat', 'Misd2012_cat', 'Misd2013_cat',
       'Misd2014_cat', 'Misd2015_cat', 'M2010', 'M2011', 'M2012', 'M2013',
       'M2014', 'M2015', 'M2010_cat', 'M2011_cat', 'M2012_cat', 'M2013_cat',
       'M2014_cat', 'M2015_cat', 'NM2010', 'NM2011', 'NM2012', 'NM2013',
       'NM2014', 'NM2015', 'NM2010_cat', 'NM2011_cat', 'NM2012_cat',
       'NM2013_cat', 'NM2014_cat', 'NM2015_cat'],
      dtype='object')

In [92]:
test_df1 = pd.melt(final, id_vars=['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type',
       'Zip Code', 'City', 'Borough', 'Precinct'], value_vars=['V2010', 'V2011', 'V2012',
       'V2013', 'V2014', 'V2015'],var_name='Year', value_name='Violence Crime')

In [93]:
test_df1.tail()

,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Precinct,Year,Violence Crime
9237487,2015-12-31 23:53:14,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,V2015,2024.0
9237488,2015-12-31 23:55:51,Noise - Residential,Loud Music/Party,Residential Building/House,11416,OZONE PARK,QUEENS,102,V2015,1862.0
9237489,2015-12-31 23:56:34,Noise - Residential,Loud Music/Party,Residential Building/House,10301,STATEN ISLAND,STATEN ISLAND,120,V2015,3320.0
9237490,2015-12-31 23:59:19,Noise - Residential,Loud Music/Party,Residential Building/House,10002,NEW YORK,MANHATTAN,7,V2015,1172.0
9237491,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,NEW YORK,MANHATTAN,34,V2015,1502.0

In [94]:
test_df1 = test_df1[test_df1['Violence Crime'].notnull()]

In [95]:
test_df1.shape

(1539582, 10)

In [96]:
test_df2 = pd.melt(final, id_vars=['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type',
       'Zip Code', 'City', 'Borough', 'Precinct'], value_vars=['V2010_cat','V2011_cat', 'V2012_cat', 'V2013_cat', 'V2014_cat', 'V2015_cat'],var_name='Year', value_name='Violence Binning')

In [97]:
test_df2.tail()

,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Precinct,Year,Violence Binning
9237487,2015-12-31 23:53:14,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,V2015_cat,Within Higher IQR
9237488,2015-12-31 23:55:51,Noise - Residential,Loud Music/Party,Residential Building/House,11416,OZONE PARK,QUEENS,102,V2015_cat,Within Higher IQR
9237489,2015-12-31 23:56:34,Noise - Residential,Loud Music/Party,Residential Building/House,10301,STATEN ISLAND,STATEN ISLAND,120,V2015_cat,Higher than IQR
9237490,2015-12-31 23:59:19,Noise - Residential,Loud Music/Party,Residential Building/House,10002,NEW YORK,MANHATTAN,7,V2015_cat,Lower than IQR
9237491,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,NEW YORK,MANHATTAN,34,V2015_cat,Within Lower IQR

In [99]:
test_df2 = test_df2[test_df2['Violence Binning'].notnull()]

In [100]:
test_df2.shape

(1539582, 10)

In [101]:
test_df3 = pd.melt(final, id_vars=['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type',
       'Zip Code', 'City', 'Borough', 'Precinct'], value_vars=['Misd2010', 'Misd2011', 'Misd2012', 'Misd2013', 'Misd2014', 'Misd2015'],var_name='Year', value_name='Misd Crime')

In [102]:
test_df3 = test_df3[test_df3['Misd Crime'].notnull()]

In [103]:
test_df3.shape

(1539582, 10)

In [104]:
test_df4 = pd.melt(final, id_vars=['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type',
       'Zip Code', 'City', 'Borough', 'Precinct'], value_vars=['Misd2010_cat', 'Misd2011_cat', 'Misd2012_cat', 'Misd2013_cat',
       'Misd2014_cat', 'Misd2015_cat'],var_name='Year', value_name='Misd Binning')

In [105]:
test_df4 = test_df4[test_df4['Misd Binning'].notnull()]

In [106]:
test_df4.shape

(1539582, 10)

In [107]:
test_df5 = pd.melt(final, id_vars=['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type',
       'Zip Code', 'City', 'Borough', 'Precinct'], value_vars=['M2010', 'M2011', 'M2012', 'M2013',
       'M2014', 'M2015'],var_name='Year', value_name='Major Crime')

In [108]:
test_df5 = test_df5[test_df5['Major Crime'].notnull()]

In [109]:
test_df5.shape

(1539582, 10)

In [110]:
test_df6 = pd.melt(final, id_vars=['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type',
       'Zip Code', 'City', 'Borough', 'Precinct'], value_vars=['M2010_cat', 'M2011_cat', 'M2012_cat', 'M2013_cat',
       'M2014_cat', 'M2015_cat'],var_name='Year', value_name='Major Binning')

In [111]:
test_df6 = test_df6[test_df6['Major Binning'].notnull()]

In [112]:
test_df6.shape

(1539582, 10)

In [113]:
test_df7 = pd.melt(final, id_vars=['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type',
       'Zip Code', 'City', 'Borough', 'Precinct'], value_vars=['NM2010', 'NM2011', 'NM2012', 'NM2013',
       'NM2014', 'NM2015'],var_name='Year', value_name='Nonmajor Crime')

In [114]:
test_df7 = test_df7[test_df7['Nonmajor Crime'].notnull()]

In [115]:
test_df7.shape

(1539582, 10)

In [116]:
test_df8 = pd.melt(final, id_vars=['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type',
       'Zip Code', 'City', 'Borough', 'Precinct'], value_vars=['NM2010_cat', 'NM2011_cat', 'NM2012_cat',
       'NM2013_cat', 'NM2014_cat', 'NM2015_cat'],var_name='Year', value_name='Nonmajor Binning')

In [117]:
test_df8 = test_df8[test_df8['Nonmajor Binning'].notnull()]

In [118]:
test_df8.head()

,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Precinct,Year,Nonmajor Binning
0,2010-01-01 00:03:46,Noise - Residential,Loud Television,Residential Building/House,11230,BROOKLYN,BROOKLYN,70,NM2010_cat,Within Higher IQR
1,2010-01-01 00:08:02,Noise - Residential,Loud Music/Party,Residential Building/House,11220,BROOKLYN,BROOKLYN,68,NM2010_cat,Lower than IQR
2,2010-01-01 00:15:08,Noise - Residential,Banging/Pounding,Residential Building/House,11355,FLUSHING,QUEENS,109,NM2010_cat,Within Higher IQR
3,2010-01-01 00:15:12,Noise - Residential,Loud Music/Party,Residential Building/House,10014,NEW YORK,MANHATTAN,6,NM2010_cat,Within Lower IQR
4,2010-01-01 00:15:51,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11220,BROOKLYN,BROOKLYN,68,NM2010_cat,Lower than IQR

In [119]:
test_df1['Year'] = test_df1['Year'].str.replace('V2010','2010')
test_df1['Year'] = test_df1['Year'].str.replace('V2011','2011')
test_df1['Year'] = test_df1['Year'].str.replace('V2012','2012')
test_df1['Year'] = test_df1['Year'].str.replace('V2013','2013')
test_df1['Year'] = test_df1['Year'].str.replace('V2014','2014')
test_df1['Year'] = test_df1['Year'].str.replace('V2015','2015')

In [120]:
test_df2['Year'] = test_df2['Year'].str.replace('V2010_cat','2010')
test_df2['Year'] = test_df2['Year'].str.replace('V2011_cat','2011')
test_df2['Year'] = test_df2['Year'].str.replace('V2012_cat','2012')
test_df2['Year'] = test_df2['Year'].str.replace('V2013_cat','2013')
test_df2['Year'] = test_df2['Year'].str.replace('V2014_cat','2014')
test_df2['Year'] = test_df2['Year'].str.replace('V2015_cat','2015')
test_df3['Year'] = test_df3['Year'].str.replace('Misd2010','2010')
test_df3['Year'] = test_df3['Year'].str.replace('Misd2011','2011')
test_df3['Year'] = test_df3['Year'].str.replace('Misd2012','2012')
test_df3['Year'] = test_df3['Year'].str.replace('Misd2013','2013')
test_df3['Year'] = test_df3['Year'].str.replace('Misd2014','2014')
test_df3['Year'] = test_df3['Year'].str.replace('Misd2015','2015')
test_df4['Year'] = test_df4['Year'].str.replace('Misd2010_cat','2010')
test_df4['Year'] = test_df4['Year'].str.replace('Misd2011_cat','2011')
test_df4['Year'] = test_df4['Year'].str.replace('Misd2012_cat','2012')
test_df4['Year'] = test_df4['Year'].str.replace('Misd2013_cat','2013')
test_df4['Year'] = test_df4['Year'].str.replace('Misd2014_cat','2014')
test_df4['Year'] = test_df4['Year'].str.replace('Misd2015_cat','2015')
test_df5['Year'] = test_df5['Year'].str.replace('M2010','2010')
test_df5['Year'] = test_df5['Year'].str.replace('M2011','2011')
test_df5['Year'] = test_df5['Year'].str.replace('M2012','2012')
test_df5['Year'] = test_df5['Year'].str.replace('M2013','2013')
test_df5['Year'] = test_df5['Year'].str.replace('M2014','2014')
test_df5['Year'] = test_df5['Year'].str.replace('M2015','2015')
test_df6['Year'] = test_df6['Year'].str.replace('M2010_cat','2010')
test_df6['Year'] = test_df6['Year'].str.replace('M2011_cat','2011')
test_df6['Year'] = test_df6['Year'].str.replace('M2012_cat','2012')
test_df6['Year'] = test_df6['Year'].str.replace('M2013_cat','2013')
test_df6['Year'] = test_df6['Year'].str.replace('M2014_cat','2014')
test_df6['Year'] = test_df6['Year'].str.replace('M2015_cat','2015')
test_df7['Year'] = test_df7['Year'].str.replace('NM2010','2010')
test_df7['Year'] = test_df7['Year'].str.replace('NM2011','2011')
test_df7['Year'] = test_df7['Year'].str.replace('NM2012','2012')
test_df7['Year'] = test_df7['Year'].str.replace('NM2013','2013')
test_df7['Year'] = test_df7['Year'].str.replace('NM2014','2014')
test_df7['Year'] = test_df7['Year'].str.replace('NM2015','2015')
test_df8['Year'] = test_df8['Year'].str.replace('NM2010_cat','2010')
test_df8['Year'] = test_df8['Year'].str.replace('NM2011_cat','2011')
test_df8['Year'] = test_df8['Year'].str.replace('NM2012_cat','2012')
test_df8['Year'] = test_df8['Year'].str.replace('NM2013_cat','2013')
test_df8['Year'] = test_df8['Year'].str.replace('NM2014_cat','2014')
test_df8['Year'] = test_df8['Year'].str.replace('NM2015_cat','2015')

In [121]:
test_df9 = final[['Created_Date', 'Complaint Type', 'Descriptor', 'Location Type', 'Zip Code', 'City', 'Borough', 'Precinct', 'Population', '% Poverty Level']]

In [122]:
test_df1 = test_df1.reset_index()
test_df2 = test_df2.reset_index()
test_df3 = test_df3.reset_index()
test_df4 = test_df4.reset_index()
test_df5 = test_df5.reset_index()
test_df6 = test_df6.reset_index()
test_df7 = test_df7.reset_index()
test_df8 = test_df8.reset_index()

In [123]:
dataframe1 = test_df1[['Year','Violence Crime']]

In [124]:
result_df1 = test_df9.join(dataframe1)

In [125]:
dataframe2 = test_df2[['Violence Binning']]

In [126]:
result_df2 = result_df1.join(dataframe2)

In [127]:
dataframe3 = test_df3[['Misd Crime']]

In [128]:
result_df3 = result_df2.join(dataframe3)

In [129]:
dataframe4 = test_df4[['Misd Binning']]

In [130]:
result_df4 = result_df3.join(dataframe4)

In [131]:
dataframe5 = test_df5[['Major Crime']]

In [132]:
result_df5 = result_df4.join(dataframe5)

In [133]:
dataframe6 = test_df6[['Major Binning']]

In [134]:
result_df6 = result_df5.join(dataframe6)

In [135]:
dataframe7 = test_df7[['Nonmajor Crime']]

In [136]:
result_df7 = result_df6.join(dataframe7)

In [137]:
dataframe8 = test_df8[['Nonmajor Binning']]

In [138]:
result_df8 = result_df7.join(dataframe8)

In [139]:
result_df8.tail()

,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Precinct,Population,% Poverty Level,Year,Violence Crime,Violence Binning,Misd Crime,Misd Binning,Major Crime,Major Binning,Nonmajor Crime,Nonmajor Binning
1539577,2015-12-31 23:53:14,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,"76,656",64.49 %,2015,2024.0,Within Higher IQR,11306.0,Higher than IQR,2686.0,Within Lower IQR,1672.0,Within Higher IQR
1539578,2015-12-31 23:55:51,Noise - Residential,Loud Music/Party,Residential Building/House,11416,OZONE PARK,QUEENS,102,"23,668",23.26 %,2015,1862.0,Within Higher IQR,6696.0,Within Lower IQR,2850.0,Within Higher IQR,1328.0,Within Lower IQR
1539579,2015-12-31 23:56:34,Noise - Residential,Loud Music/Party,Residential Building/House,10301,STATEN ISLAND,STATEN ISLAND,120,"38,805",18.16 %,2015,3320.0,Higher than IQR,9448.0,Within Higher IQR,2294.0,Within Lower IQR,1520.0,Within Higher IQR
1539580,2015-12-31 23:59:19,Noise - Residential,Loud Music/Party,Residential Building/House,10002,NEW YORK,MANHATTAN,7,"84,870",35.04 %,2015,1172.0,Lower than IQR,5864.0,Lower than IQR,1562.0,Lower than IQR,964.0,Lower than IQR
1539581,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,NEW YORK,MANHATTAN,34,"41,756",37.89 %,2015,1502.0,Within Lower IQR,7926.0,Within Lower IQR,2630.0,Within Lower IQR,1476.0,Within Lower IQR

In [92]:
result_df8.to_csv('result_df.csv',sep = '\t')

In [140]:
result_df8['Violence Binning'] =  result_df8['Violence Binning'].str.replace('Within Lower IQR','VC Within Lower IQR')
result_df8['Violence Binning'] =  result_df8['Violence Binning'].str.replace('Within Higher IQR','VC Within Higher IQR')
result_df8['Violence Binning'] =  result_df8['Violence Binning'].str.replace('Higher than IQR','VC Higher than IQR')
result_df8['Violence Binning'] =  result_df8['Violence Binning'].str.replace('Lower than IQR','VC Lower than IQR')
result_df8['Violence Binning'] =  result_df8['Violence Binning'].str.replace('Low Outliers','VC Low Outliers')
result_df8['Violence Binning'] =  result_df8['Violence Binning'].str.replace('Higher outliers','VC High Outliers')

In [141]:
result_df8['Misd Binning'] =  result_df8['Misd Binning'].str.replace('Within Lower IQR','Misd Within Lower IQR')
result_df8['Misd Binning'] =  result_df8['Misd Binning'].str.replace('Within Higher IQR','Misd Within Higher IQR')
result_df8['Misd Binning'] =  result_df8['Misd Binning'].str.replace('Higher than IQR','Misd Higher than IQR')
result_df8['Misd Binning'] =  result_df8['Misd Binning'].str.replace('Lower than IQR','Misd Lower than IQR')
result_df8['Misd Binning'] =  result_df8['Misd Binning'].str.replace('Low Outliers','Misd Low Outliers')
result_df8['Misd Binning'] =  result_df8['Misd Binning'].str.replace('Higher outliers','Misd High Outliers')

In [142]:
result_df8['Major Binning'] =  result_df8['Major Binning'].str.replace('Within Lower IQR','Major Within Lower IQR')
result_df8['Major Binning'] =  result_df8['Major Binning'].str.replace('Within Higher IQR','Major Within Higher IQR')
result_df8['Major Binning'] =  result_df8['Major Binning'].str.replace('Higher than IQR','Major Higher than IQR')
result_df8['Major Binning'] =  result_df8['Major Binning'].str.replace('Lower than IQR','Major Lower than IQR')
result_df8['Major Binning'] =  result_df8['Major Binning'].str.replace('Low Outliers','Major Low Outliers')
result_df8['Major Binning'] =  result_df8['Major Binning'].str.replace('Higher outliers','Major High Outliers')

In [143]:
result_df8['Nonmajor Binning'] =  result_df8['Nonmajor Binning'].str.replace('Within Lower IQR','Nonmajor Within Lower IQR')
result_df8['Nonmajor Binning'] =  result_df8['Nonmajor Binning'].str.replace('Within Higher IQR','Nonmajor Within Higher IQR')
result_df8['Nonmajor Binning'] =  result_df8['Nonmajor Binning'].str.replace('Higher than IQR','Nonmajor Higher than IQR')
result_df8['Nonmajor Binning'] =  result_df8['Nonmajor Binning'].str.replace('Lower than IQR','Nonmajor Lower than IQR')
result_df8['Nonmajor Binning'] =  result_df8['Nonmajor Binning'].str.replace('Low Outliers','Nonmajor Low Outliers')
result_df8['Nonmajor Binning'] =  result_df8['Nonmajor Binning'].str.replace('Higher outliers','Nonmajor High Outliers')

#Codes for manipulating result_df8 so that population and poverty level are nominal

In [144]:
result_df8 = result_df8.drop(['Violence Crime', 'Misd Crime', 'Major Crime', 'Nonmajor Crime'],1)

In [145]:
result_df8['Population'] = result_df8.Population.str.replace(',','').astype(int)

In [146]:
result_df8.loc[:,['Population']] = binning(result_df8['Population'])

In [147]:
result_df8['Population'] =  result_df8['Population'].str.replace('Within Lower IQR','Population Within Lower IQR')
result_df8['Population'] =  result_df8['Population'].str.replace('Within Higher IQR','Population Within Higher IQR')
result_df8['Population'] =  result_df8['Population'].str.replace('Higher than IQR','Population Higher than IQR')
result_df8['Population'] =  result_df8['Population'].str.replace('Lower than IQR','Population Lower than IQR')
result_df8['Population'] =  result_df8['Population'].str.replace('Low Outliers','Population Low Outliers')
result_df8['Population'] =  result_df8['Population'].str.replace('Higher outliers','Population High Outliers')

In [148]:
result_df8['% Poverty Level'] = result_df8['% Poverty Level'].str.replace('%','')
#result_df8['% Poverty Level'] = result_df8.Population.str.replace(',','')

In [149]:
result_df8['% Poverty Level'] = result_df8['% Poverty Level'].astype(float)

In [150]:
result_df8.loc[:,['% Poverty Level']] = binning(result_df8['% Poverty Level'])

In [151]:
result_df8['% Poverty Level'] =  result_df8['% Poverty Level'].str.replace('Within Lower IQR','% Poverty Level Within Lower IQR')
result_df8['% Poverty Level'] =  result_df8['% Poverty Level'].str.replace('Within Higher IQR','% Poverty Level Within Higher IQR')
result_df8['% Poverty Level'] =  result_df8['% Poverty Level'].str.replace('Higher than IQR','% Poverty Level Higher than IQR')
result_df8['% Poverty Level'] =  result_df8['% Poverty Level'].str.replace('Lower than IQR','% Poverty Level Lower than IQR')
result_df8['% Poverty Level'] =  result_df8['% Poverty Level'].str.replace('Low Outliers','% Poverty Level Lower Outliers')
result_df8['% Poverty Level'] =  result_df8['% Poverty Level'].str.replace('Higher outliers','% Poverty Level Higher Outliers')

In [152]:
result_df8[result_df8['Misd Binning'].isnull()]

Empty DataFrame
Columns: [Created_Date, Complaint Type, Descriptor, Location Type, Zip Code, City, Borough, Precinct, Population, % Poverty Level, Year, Violence Binning, Misd Binning, Major Binning, Nonmajor Binning]
Index: []

In [89]:
result_df8['Violence Binning'].unique()

array(['VC Within Lower IQR', 'VC Higher than IQR', 'VC Lower than IQR',
       'VC High Outliers', 'VC Within Higher IQR'], dtype=object)

In [3]:
result_df8.shape

(1539582, 20)

In [4]:
numofnoise_temp_df = result_df8.groupby(['Zip Code'])['Created_Date'].count()

In [5]:
numofnoise = numofnoise_temp_df.to_frame()

In [6]:
numofnoise = numofnoise.reset_index()

In [7]:
numofnoise.columns = ['Zip Code', 'Number of Noise Complaint']

In [9]:
numofnoise.to_csv('numofnoise.csv',sep = '\t')

In [2]:
numofnoise = pd.read_csv( "/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/numofnoise.csv",sep = '\t')

In [3]:
numofnoise.head()

   Unnamed: 0  Zip Code  Number of Noise Complaint
0           0     10002                      23361
1           1     10003                      20531
2           2     10004                       1558
3           3     10005                       2839
4           4     10006                       1766

In [4]:
numofnoise['Number of Noise Complaint'].median()

7249.0

In [158]:
result_dft = pd.merge(result_df8, numofnoise, how = 'outer', on = ['Zip Code'])

In [159]:
result_dft[result_dft['Misd Binning'].isnull()]

Empty DataFrame
Columns: [Created_Date, Complaint Type, Descriptor, Location Type, Zip Code, City, Borough, Precinct, Population, % Poverty Level, Year, Violence Binning, Misd Binning, Major Binning, Nonmajor Binning, Number of Noise Complaint]
Index: []

In [160]:
result_dft['Noise Binning'] = '---'

In [161]:
result_dft.loc[:,['Noise Binning']] = binning(result_dft['Number of Noise Complaint'])

In [162]:
result_dft['Noise Binning'] =  result_dft['Noise Binning'].str.replace('Within Lower IQR','Noise Within Lower IQR')
result_dft['Noise Binning'] =  result_dft['Noise Binning'].str.replace('Within Higher IQR','Noise Within Higher IQR')
result_dft['Noise Binning'] =  result_dft['Noise Binning'].str.replace('Higher than IQR','Noise Higher than IQR')
result_dft['Noise Binning'] =  result_dft['Noise Binning'].str.replace('Lower than IQR','Noise Lower than IQR')
result_dft['Noise Binning'] =  result_dft['Noise Binning'].str.replace('Low Outliers','Noise Low Outliers')
result_dft['Noise Binning'] =  result_dft['Noise Binning'].str.replace('Higher outliers','Noise High Outliers')

In [163]:
result_dft[result_dft['Misd Binning'].isnull()]

Empty DataFrame
Columns: [Created_Date, Complaint Type, Descriptor, Location Type, Zip Code, City, Borough, Precinct, Population, % Poverty Level, Year, Violence Binning, Misd Binning, Major Binning, Nonmajor Binning, Number of Noise Complaint, Noise Binning]
Index: []

In [164]:
result_dft = result_dft.drop(['Number of Noise Complaint'],1)

In [165]:
result_dft.shape

(1539582, 16)

In [167]:
result_dft.to_csv('revised_result_df.csv', sep='\t')

In [5]:
result_df8['% Poverty Level'] = result_df8['% Poverty Level'].str.replace('%','')

In [6]:
result_df8['% Poverty Level'] = result_df8['% Poverty Level'].astype(str)

In [7]:
result_df8['% Poverty Level'] = pd.to_numeric(result_df8['% Poverty Level'])

In [8]:
result_df8['% Poverty Level']

0          27.70
1          36.53
2          21.33
3           6.50
4          36.53
5          59.12
6          10.26
7          38.38
8          31.38
9          14.84
10         21.07
11         20.78
12         52.02
13         21.33
14         18.16
15         27.70
16         36.53
17         45.44
18         17.98
19         11.93
20         16.88
21         15.21
22         27.38
23         22.49
24         52.49
25          7.99
26          6.50
27         21.60
28         20.71
29         27.38
           ...
1539552    64.49
1539553    16.98
1539554    64.49
1539555    35.19
1539556    43.83
1539557    11.32
1539558    38.38
1539559    64.49
1539560    52.02
1539561    25.76
1539562    64.49
1539563    60.47
1539564    38.50
1539565    19.75
1539566    53.85
1539567    48.52
1539568    14.08
1539569    10.10
1539570     7.35
1539571     5.73
1539572    64.49
1539573    60.47
1539574     7.78
1539575    30.96
1539576    64.49
1539577    64.49
1539578    23.26
1539579    18.16
1539580    35.04
1539581    37.89
Name: % Poverty Level, dtype: float64

In [9]:
result_df8['% Poverty Level'] = result_df8['% Poverty Level']/100

In [10]:
result_df8['Complaint Type'].unique()

array(['Noise - Residential', 'Noise - Commercial',
       'Noise - Street/Sidewalk', 'Noise', 'Noise - House of Worship',
       'Noise - Vehicle', 'Noise - Park', 'Collection Truck Noise',
       'Noise - Helicopter', 'Noise Survey'], dtype=object)

In [11]:
result_df8[result_df8['Complaint Type'] == 'Noise - Residential']['Descriptor'].unique()

array(['Loud Television', 'Loud Music/Party', 'Banging/Pounding',
       'Loud Talking'], dtype=object)

In [12]:
result_df8[result_df8['Complaint Type'] == 'Noise - House of Worship']['Descriptor'].unique()

array(['Loud Music/Party', 'Loud Talking', 'Banging/Pounding',
       'Loud Television'], dtype=object)

In [13]:
result_df8[result_df8['Complaint Type'] == 'Noise - Helicopter']['Descriptor'].unique()

array(['Flying Too Low', 'Passing By', 'Hovering', 'Other', 'NYPD',
       'News Gathering'], dtype=object)

In [14]:
result_df8[result_df8['Complaint Type'] == 'Noise - Commercial']['Descriptor'].unique()

array(['Loud Music/Party', 'Loud Talking', 'Car/Truck Music',
       'Banging/Pounding', 'Car/Truck Horn', 'Loud Television'], dtype=object)

In [15]:
result_df8[result_df8['Complaint Type'] == 'Noise Survey']['Descriptor'].unique()

array(['People Created Noise'], dtype=object)

In [16]:
result_df8.Descriptor.unique()

array(['Loud Television', 'Loud Music/Party', 'Banging/Pounding',
       'Loud Talking', 'Noise, Barking Dog (NR5)', 'Car/Truck Music',
       'Noise: Air Condition/Ventilation Equip, Commercial (NJ2)',
       'Noise: Alarms (NR3)', 'Noise: Construction Equipment (NC1)',
       'Car/Truck Horn', 'Noise: Construction Before/After Hours (NM1)',
       'Noise: Jack Hammering (NC2)', '21 Collection Truck Noise',
       'Noise: Private Carting Noise (NQ1)', 'Engine Idling',
       'Noise: Air Condition/Ventilation Equip, Residential (NJ1)',
       'Horn Honking Sign Requested (NR9)',
       'Noise: Other Noise Sources (Use Comments) (NZZ)',
       'Noise: Loud Music/Nighttime(Mark Date And Time) (NP1)',
       'Noise, Other Animals (NR6)', 'Noise: Manufacturing Noise (NK1)',
       'Noise: Vehicle (NR2)', 'Noise: Boat(Engine,Music,Etc) (NR10)',
       'Noise, Ice Cream Truck (NR4)',
       'Noise: Loud Music/Daytime (Mark Date And Time) (NN1)',
       'Private Carting', 'Flying Too Low', 'Passing By', 'Hovering',
       'Air Conditioner/Ventilation Equipment', 'Other', 'NYPD',
       'News Gathering', 'People Created Noise',
       'Noise: air condition/ventilation equipment (NV1)',
       'Noise:  lawn care equipment (NCL)'], dtype=object)

In [17]:
result_df8

,Unnamed: 0,Created_Date,Complaint Type,Descriptor,Location Type,Zip Code,City,Borough,Precinct,Population,% Poverty Level,Year,Violence Crime,Violence Binning,Misd Crime,Misd Binning,Major Crime,Major Binning,Nonmajor Crime,Nonmajor Binning
0,0,2010-01-01 00:03:46,Noise - Residential,Loud Television,Residential Building/House,11230,BROOKLYN,BROOKLYN,70,"88,933",0.2770,2010,1474.0,VC Within Lower IQR,11546.0,Misd Within Higher IQR,3942.0,Major Higher than IQR,1956.0,Nonmajor Within Higher IQR
1,1,2010-01-01 00:08:02,Noise - Residential,Loud Music/Party,Residential Building/House,11220,BROOKLYN,BROOKLYN,68,"92,718",0.3653,2010,1388.0,VC Within Lower IQR,7318.0,Misd Within Lower IQR,1828.0,Major Within Lower IQR,758.0,Nonmajor Within Lower IQR
2,2,2010-01-01 00:15:08,Noise - Residential,Banging/Pounding,Residential Building/House,11355,FLUSHING,QUEENS,109,"83,281",0.2133,2010,2010.0,VC Higher than IQR,10172.0,Misd Within Higher IQR,3820.0,Major Higher than IQR,1662.0,Nonmajor Within Higher IQR
3,3,2010-01-01 00:15:12,Noise - Residential,Loud Music/Party,Residential Building/House,10014,NEW YORK,MANHATTAN,6,"32,667",0.0650,2010,1004.0,VC Within Lower IQR,8730.0,Misd Within Lower IQR,3060.0,Major Within Higher IQR,1118.0,Nonmajor Within Lower IQR
4,4,2010-01-01 00:15:51,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11220,BROOKLYN,BROOKLYN,68,"92,718",0.3653,2010,1388.0,VC Within Lower IQR,7318.0,Misd Within Lower IQR,1828.0,Major Within Lower IQR,758.0,Nonmajor Within Lower IQR
5,5,2010-01-01 00:19:07,Noise - Residential,Loud Music/Party,Residential Building/House,10453,BRONX,BRONX,46,"76,775",0.5912,2010,2816.0,VC Higher than IQR,19660.0,Misd Higher than IQR,3032.0,Major Within Higher IQR,3086.0,Nonmajor Higher than IQR
6,6,2010-01-01 00:23:08,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,10011,NEW YORK,MANHATTAN,10,"46,669",0.1026,2010,842.0,VC Within Lower IQR,5340.0,Misd Within Lower IQR,2098.0,Major Within Lower IQR,964.0,Nonmajor Within Lower IQR
7,7,2010-01-01 00:24:00,Noise,"Noise, Barking Dog (NR5)",NaN,10473,BRONX,BRONX,43,"56,166",0.3838,2010,3136.0,VC Higher than IQR,24086.0,Misd Higher Outliers,4612.0,Major Higher than IQR,2302.0,Nonmajor Higher than IQR
8,8,2010-01-01 00:27:45,Noise - Residential,Loud Music/Party,Residential Building/House,11218,BROOKLYN,BROOKLYN,66,"74,611",0.3138,2010,1208.0,VC Within Lower IQR,6080.0,Misd Within Lower IQR,2528.0,Major Within Lower IQR,722.0,Nonmajor Within Lower IQR
9,9,2010-01-01 00:29:18,Noise - Residential,Loud Music/Party,Residential Building/House,11215,BROOKLYN,BROOKLYN,78,"63,001",0.1484,2010,658.0,VC Within Lower IQR,3994.0,Misd Within Lower IQR,1690.0,Major Within Lower IQR,482.0,Nonmajor Within Lower IQR
10,10,2010-01-01 00:29:25,Noise - Residential,Banging/Pounding,Residential Building/House,10463,BRONX,BRONX,50,"65,576",0.2107,2010,1282.0,VC Within Lower IQR,5820.0,Misd Within Lower IQR,1924.0,Major Within Lower IQR,772.0,Nonmajor Within Lower IQR
11,11,2010-01-01 00:29:36,Noise - Residential,Loud Music/Party,Residential Building/House,10310,STATEN ISLAND,STATEN ISLAND,120,"22,852",0.2078,2010,4246.0,VC Higher Outliers,18070.0,Misd Higher than IQR,3094.0,Major Within Higher IQR,2876.0,Nonmajor Higher than IQR
12,12,2010-01-01 00:29:57,Noise - Residential,Banging/Pounding,Residential Building/House,11233,BROOKLYN,BROOKLYN,60,"61,955",0.5202,2010,1460.0,VC Within Lower IQR,10570.0,Misd Within Higher IQR,2646.0,Major Within Lower IQR,1728.0,Nonmajor Within Higher IQR
13,13,2010-01-01 00:30:50,Noise - Residential,Banging/Pounding,Residential Building/House,11355,FLUSHING,QUEENS,109,"83,281",0.2133,2010,2010.0,VC Higher than IQR,10172.0,Misd Within Higher IQR,3820.0,Major Higher than IQR,1662.0,Nonmajor Within Higher IQR
14,14,2010-01-01 00:34:02,Noise - Residential,Loud Music/Party,Residential Building/House,10301,STATEN ISLAND,STATEN ISLAND,120,"38,805",0.1816,2010,4246.0,VC Higher Outliers,18070.0,Misd Higher than IQR,3094.0,Major Within Higher IQR,2876.0,Nonmajor Higher than IQR
15,15,2010-01-01 00:36:01,Noise - Commercial,Loud Music/Party,Store/Commercial,11230,BROOKLYN,BROOKLYN,70,"88,933",0.2770,2010,1474.0,VC Within Lower IQR,11546.0,Misd Within Higher IQR,3942.0,Major Higher than IQR,1956.0,Nonmajor Within Higher IQR
16,16,2010-01-01 00:36:07,Noise - Residential,Loud Music/Party,Residential Building/House,11220,BROOKLYN,BROOKLYN,68,"92,718",0.3653,2010,1388.0,VC Within Lower IQR,7318.0,Misd Within Lower IQR,1828.0,Major Within Lower IQR,758.0,Nonmajor Within Lower IQR
17,17,2010-01-01 00:37:58,Noise - Residential,Loud Music/Party,Residential Building/House,11219,BROOKLYN,BROOKLYN,66,"85,987",0.4544,2010,1208.0,VC Within Lower IQR,6080.0,Misd Within Lower IQR,2528.0,Major Within Lower IQR,722.0,Nonmajor Within Lower IQR
18,18,2010-01-01 00:38:36,Noise - Commercial,Loud Music/Party,Store/Commercial,11434,JAMAICA,QUEENS,113,"59,142",0.1798,2010,1766.0,VC Within Higher IQR,12966.0,Misd Higher than IQR,4276.0,Major Higher than IQR,2714.0,Nonmajor Higher than IQR
19,19,2010-01-01 00:39:57,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11234,BROOKLYN,BROOKLYN,63,"86,898",0.1193,2010,1422.0,VC Within Lower IQR,6564.0,Misd Within Lower IQR,2670.0,Major Within Lower IQR,702.0,Nonmajor Within Lower IQR
20,20,2010-01-01 00:40:48,Noise - Residential,Loud Music/Party,Residential Building/House,10025,NEW YORK,MANHATTAN,24,"97,086",0.1688,2010,1530.0,VC Within Lower IQR,6884.0,Misd Within Lower IQR,2008.0,Major Within Lower IQR,754.0,Nonmajor Within Lower IQR
21,21,2010-01-01 00:43:06,Noise - Residential,Loud Music/Party,Residential Building/House,11209,BROOKLYN,BROOKLYN,68,"69,840",0.1521,2010,1388.0,VC Within Lower IQR,7318.0,Misd Within Lower IQR,1828.0,Major Within Lower IQR,758.0,Nonmajor Within Lower IQR
22,22,2010-01-01 00:45:07,Noise - Residential,Loud Music/Party,Residential Building/House,10466,BRONX,BRONX,47,"68,787",0.2738,2010,1930.0,VC Within Higher IQR,15354.0,Misd Higher than IQR,3930.0,Major Higher than IQR,1840.0,Nonmajor Within Higher IQR
23,23,2010-01-01 00:46:57,Noise - Residential,Banging/Pounding,Residential Building/House,11203,BROOKLYN,BROOKLYN,67,"84,498",0.2249,2010,2266.0,VC Higher than IQR,12122.0,Misd Within Higher IQR,4240.0,Major Higher than IQR,2316.0,Nonmajor Higher than IQR
24,24,2010-01-01 00:48:21,Noise - Residential,Loud Music/Party,Residential Building/House,10451,BRONX,BRONX,42,"40,961",0.5249,2010,1660.0,VC Within Higher IQR,13578.0,Misd Higher than IQR,2356.0,Major Within Lower IQR,2110.0,Nonmajor Within Higher IQR
25,25,2010-01-01 00:48:31,Noise - Residential,Loud Music/Party,Residential Building/House,10023,NEW YORK,MANHATTAN,20,"62,206",0.0799,2010,1082.0,VC Within Lower IQR,5176.0,Misd Within Lower IQR,1940.0,Major Within Lower IQR,680.0,Nonmajor Within Lower IQR
26,26,2010-01-01 00:48:39,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10014,NEW YORK,MANHATTAN,6,"32,667",0.0650,2010,1004.0,VC Within Lower IQR,8730.0,Misd Within Lower IQR,3060.0,Major Within Higher IQR,1118.0,Nonmajor Within Lower IQR
27,27,2010-01-01 00:48:43,Noise - Residential,Loud Music/Party,Residential Building/House,11373,ELMHURST,QUEENS,110,"105,723",0.2160,2010,1488.0,VC Within Lower IQR,9962.0,Misd Within Higher IQR,3274.0,Major Within Higher IQR,1012.0,Nonmajor Within Lower IQR
28,28,2010-01-01 00:50:09,Noise - Residential,Loud Music/Party,Residential Building/House,11377,WOODSIDE,QUEENS,108,"88,339",0.2071,2010,1460.0,VC Within Lower IQR,7316.0,Misd Within Lower IQR,2508.0,Major Within Lower IQR,816.0,Nonmajor Within Lower IQR
29,29,2010-01-01 00:50:23,Noise - Residential,Loud Music/Party,Residential Building/House,10466,BRONX,BRONX,47,"68,787",0.2738,2010,1930.0,VC Within Higher IQR,15354.0,Misd Higher than IQR,3930.0,Major Higher than IQR,1840.0,Nonmajor Within Higher IQR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1539552,1539552,2015-12-31 23:41:22,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,"76,656",0.6449,2015,2024.0,VC Within Higher IQR,11306.0,Misd Higher than IQR,2686.0,Major Within Lower IQR,1672.0,Nonmajor Within Higher IQR
1539553,1539553,2015-12-31 23:41:28,Noise - Residential,Loud Music/Party,Residential Building/House,10469,BRONX,BRONX,49,"63,345",0.1698,2015,1602.0,VC Within Higher IQR,8788.0,Misd Within Higher IQR,2488.0,Major Within Lower IQR,1022.0,Nonmajor Within Lower IQR
1539554,1539554,2015-12-31 23:42:24,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,"76,656",0.6449,2015,2024.0,VC Within Higher IQR,11306.0,Misd Higher than IQR,2686.0,Major Within Lower IQR,1672.0,Nonmajor Within Higher IQR
1539555,1539555,2015-12-31 23:42:51,Noise - Residential,Loud Music/Party,Residential Building/House,10467,BRONX,BRONX,52,"94,342",0.3519,2015,2130.0,VC Higher than IQR,14230.0,Misd Higher than IQR,4218.0,Major Higher than IQR,2268.0,Nonmajor Higher than IQR
1539556,1539556,2015-12-31 23:42:53,Noise - Residential,Banging/Pounding,Residential Building/House,10031,NEW YORK,MANHATTAN,33,"60,221",0.4383,2015,1082.0,VC Within Lower IQR,6806.0,Misd Within Lower IQR,1614.0,Major Within Lower IQR,1300.0,Nonmajor Within Lower IQR
1539557,1539557,2015-12-31 23:43:02,Noise - Residential,Loud Music/Party,Residential Building/House,11365,FRESH MEADOWS,QUEENS,107,"41,566",0.1132,2015,1348.0,VC Within Lower IQR,5956.0,Misd Within Lower IQR,2208.0,Major Within Lower IQR,838.0,Nonmajor Within Lower IQR
1539558,1539558,2015-12-31 23:43:14,Noise - Residential,Loud Music/Party,Residential Building/House,10473,BRONX,BRONX,43,"56,166",0.3838,2015,3294.0,VC Higher than IQR,15582.0,Misd Higher than IQR,4982.0,Major Higher than IQR,1952.0,Nonmajor Within Higher IQR
1539559,1539559,2015-12-31 23:43:31,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,"76,656",0.6449,2015,2024.0,VC Within Higher IQR,11306.0,Misd Higher than IQR,2686.0,Major Within Lower IQR,1672.0,Nonmajor Within Higher IQR
1539560,1539560,2015-12-31 23:44:02,Noise - Residential,Loud Music/Party,Residential Building/House,11233,BROOKLYN,BROOKLYN,60,"61,955",0.5202,2015,1842.0,VC Within Higher IQR,8948.0,Misd Within Higher IQR,2808.0,Major Within Lower IQR,1876.0,Nonmajor Within Higher IQR
1539561,1539561,2015-12-31 23:44:15,Noise - Residential,Loud Music/Party,Residential Building/House,10009,NEW YORK,MANHATTAN,9,"58,595",0.2576,2015,1126.0,VC Within Lower IQR,7930.0,Misd Within Higher IQR,2674.0,Major Within Lower IQR,1230.0,Nonmajor Within Lower IQR
1539562,1539562,2015-12-31 23:44:33,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,"76,656",0.6449,2015,2024.0,VC Within Higher IQR,11306.0,Misd Higher than IQR,2686.0,Major Within Lower IQR,1672.0,Nonmajor Within Higher IQR
1539563,1539563,2015-12-31 23:44:44,Noise - Residential,Loud Music/Party,Residential Building/House,10452,BRONX,BRONX,44,"72,138",0.6047,2015,2748.0,VC Higher than IQR,18508.0,Misd Higher Outliers,4938.0,Major Higher than IQR,2344.0,Nonmajor Higher than IQR
1539564,1539564,2015-12-31 23:44:46,Noise - Residential,Loud Music/Party,Residential Building/House,11213,BROOKLYN,BROOKLYN,77,"65,440",0.3850,2015,2082.0,VC Within Higher IQR,7884.0,Misd Within Lower IQR,2990.0,Major Within Higher IQR,1848.0,Nonmajor Within Higher IQR
1539565,1539565,2015-12-31 23:44:52,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11217,BROOKLYN,BROOKLYN,78,"35,353",0.1975,2015,974.0,VC Within Lower IQR,5310.0,Misd Within Lower IQR,1940.0,Major Within Lower IQR,566.0,Nonmajor Within Lower IQR
1539566,1539566,2015-12-31 23:46:36,Noise - Residential,Loud Music/Party,Residential Building/House,11237,BROOKLYN,BROOKLYN,83,"48,910",0.5385,2015,1416.0,VC Within Lower IQR,8382.0,Misd Within Higher IQR,3356.0,Major Within Higher IQR,1796.0,Nonmajor Within Higher IQR
1539567,1539567,2015-12-31 23:47:04,Noise - Residential,Loud Music/Party,Residential Building/House,10472,BRONX,BRONX,43,"64,867",0.4852,2015,3294.0,VC Higher than IQR,15582.0,Misd Higher than IQR,4982.0,Major Higher than IQR,1952.0,Nonmajor Within Higher IQR
1539568,1539568,2015-12-31 23:48:03,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10461,BRONX,BRONX,49,"49,808",0.1408,2015,1602.0,VC Within Higher IQR,8788.0,Misd Within Higher IQR,2488.0,Major Within Lower IQR,1022.0,Nonmajor Within Lower IQR
1539569,1539569,2015-12-31 23:50:14,Noise - Residential,Loud Music/Party,Residential Building/House,11379,MIDDLE VILLAGE,QUEENS,104,"28,984",0.1010,2015,1710.0,VC Within Higher IQR,7736.0,Misd Within Lower IQR,2710.0,Major Within Lower IQR,1280.0,Nonmajor Within Lower IQR
1539570,1539570,2015-12-31 23:50:29,Noise - Residential,Banging/Pounding,Residential Building/House,11366,FRESH MEADOWS,QUEENS,107,"13,366",0.0735,2015,1348.0,VC Within Lower IQR,5956.0,Misd Within Lower IQR,2208.0,Major Within Lower IQR,838.0,Nonmajor Within Lower IQR
1539571,1539571,2015-12-31 23:50:36,Noise - Residential,Loud Music/Party,Residential Building/House,10028,NEW YORK,MANHATTAN,30,"44,987",0.0573,2015,1218.0,VC Within Lower IQR,6882.0,Misd Within Lower IQR,1466.0,Major Within Lower IQR,974.0,Nonmajor Within Lower IQR
1539572,1539572,2015-12-31 23:51:08,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,"76,656",0.6449,2015,2024.0,VC Within Higher IQR,11306.0,Misd Higher than IQR,2686.0,Major Within Lower IQR,1672.0,Nonmajor Within Higher IQR
1539573,1539573,2015-12-31 23:51:28,Noise - Residential,Loud Music/Party,Residential Building/House,10452,BRONX,BRONX,44,"72,138",0.6047,2015,2748.0,VC Higher than IQR,18508.0,Misd Higher Outliers,4938.0,Major Higher than IQR,2344.0,Nonmajor Higher than IQR
1539574,1539574,2015-12-31 23:51:54,Noise - Residential,Banging/Pounding,Residential Building/House,10471,BRONX,BRONX,50,"23,413",0.0778,2015,1148.0,VC Within Lower IQR,5496.0,Misd Within Lower IQR,1902.0,Major Within Lower IQR,794.0,Nonmajor Within Lower IQR
1539575,1539575,2015-12-31 23:52:04,Noise - Residential,Loud Music/Party,Residential Building/House,11225,BROOKLYN,BROOKLYN,71,"63,774",0.3096,2015,2230.0,VC Higher than IQR,8506.0,Misd Within Higher IQR,2994.0,Major Within Higher IQR,1518.0,Nonmajor Within Higher IQR
1539576,1539576,2015-12-31 23:52:12,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,"76,656",0.6449,2015,2024.0,VC Within Higher IQR,11306.0,Misd Higher than IQR,2686.0,Major Within Lower IQR,1672.0,Nonmajor Within Higher IQR
1539577,1539577,2015-12-31 23:53:14,Noise - Residential,Loud Music/Party,Residential Building/House,10456,BRONX,BRONX,42,"76,656",0.6449,2015,2024.0,VC Within Higher IQR,11306.0,Misd Higher than IQR,2686.0,Major Within Lower IQR,1672.0,Nonmajor Within Higher IQR
1539578,1539578,2015-12-31 23:55:51,Noise - Residential,Loud Music/Party,Residential Building/House,11416,OZONE PARK,QUEENS,102,"23,668",0.2326,2015,1862.0,VC Within Higher IQR,6696.0,Misd Within Lower IQR,2850.0,Major Within Higher IQR,1328.0,Nonmajor Within Lower IQR
1539579,1539579,2015-12-31 23:56:34,Noise - Residential,Loud Music/Party,Residential Building/House,10301,STATEN ISLAND,STATEN ISLAND,120,"38,805",0.1816,2015,3320.0,VC Higher than IQR,9448.0,Misd Within Higher IQR,2294.0,Major Within Lower IQR,1520.0,Nonmajor Within Higher IQR
1539580,1539580,2015-12-31 23:59:19,Noise - Residential,Loud Music/Party,Residential Building/House,10002,NEW YORK,MANHATTAN,7,"84,870",0.3504,2015,1172.0,VC Within Lower IQR,5864.0,Misd Within Lower IQR,1562.0,Major Within Lower IQR,964.0,Nonmajor Within Lower IQR
1539581,1539581,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,NEW YORK,MANHATTAN,34,"41,756",0.3789,2015,1502.0,VC Within Lower IQR,7926.0,Misd Within Lower IQR,2630.0,Major Within Lower IQR,1476.0,Nonmajor Within Lower IQR

#first map is to plot number of noises based on zip codes.
#second map is to plot

In [18]:
numofnoise_temp_df = result_df8.groupby(['Zip Code'])['Created_Date'].count()

In [20]:
result_df8['Created_Date'] =pd.to_datetime(result_df8.Created_Date)

In [21]:
numofnoise = numofnoise_temp_df.to_frame()

In [22]:
numofnoise = numofnoise.reset_index()

In [23]:
numofnoise.to_csv('numofnoise.csv', sep = '\t')

In [24]:
numofnoise.Created_Date.median()

7249.0

In [80]:
numofviolence_temp_df = result_df8.loc[result_df8['Zip Code'].unique(),'Violence Crime']

In [81]:
numofviolence = numofviolence_temp_df.to_frame()

In [82]:
numofviolence = numofviolence.reset_index()

In [84]:
numofviolence.columns = ['Zip Code', 'Violence Crime']

In [85]:
numofviolence.to_csv("numofviolence.csv", sep = '\t')

In [86]:
numofviolence['Violence Crime'].median()

1460.0

In [88]:
numofmajor_temp_df = result_df8.loc[result_df8['Zip Code'].unique(),'Major Crime']

In [89]:
numofmajor = numofmajor_temp_df.to_frame()

In [90]:
numofmajor = numofmajor.reset_index()

In [91]:
numofmajor.columns = ['Zip Code', 'Major Crime']

In [92]:
numofmajor.to_csv("numofmajor.csv", sep = '\t')

In [93]:
numofmajor['Major Crime'].median()

2732.0

In [94]:
numofmisd_temp_df = result_df8.loc[result_df8['Zip Code'].unique(),'Misd Crime']

In [95]:
numofmisd = numofmisd_temp_df.to_frame()

In [96]:
numofmisd = numofmisd.reset_index()

In [97]:
numofmisd.columns = ['Zip Code', 'Misd Crime']

In [98]:
numofmisd['Misd Crime'].median()

9544.0

In [99]:
numofmisd.to_csv("numofmisd.csv", sep = '\t')

In [103]:
numofnonmajor_temp_df = result_df8.loc[result_df8['Zip Code'].unique(),'Nonmajor Crime']

In [104]:
numofnonmajor = numofnonmajor_temp_df.to_frame()

In [105]:
numofnonmajor = numofnonmajor.reset_index()

In [106]:
numofnonmajor.columns = ['Zip Code', 'Nonmajor Crime']

In [107]:
numofnonmajor['Nonmajor Crime'].median()

1545.0

In [108]:
numofnonmajor.to_csv('numofnonmajor.csv', sep = '\t')

In [113]:
poverty_temp_df = result_df8.loc[result_df8['Zip Code'].unique(),'% Poverty Level']

In [116]:
poverty = poverty_temp_df.to_frame()

In [117]:
poverty = poverty.reset_index()

In [118]:
poverty.columns = ['Zip Code', 'Poverty Level']

In [119]:
poverty['Poverty Level'].median()

0.33615

In [120]:
poverty.to_csv("povertylevel.csv", sep = '\t')

In [122]:
test_df = numofviolence['Violence Crime'].to_frame()

In [124]:
newtest_df = numofnoise.join(test_df)

In [126]:
newtest_df['Created_Date'].corr(newtest_df['Violence Crime'])

-0.06527917374249087

In [159]:
result_df8.Borough.unique()

array(['BROOKLYN', 'QUEENS', 'MANHATTAN', 'BRONX', 'STATEN ISLAND',
       'Unspecified'], dtype=object)

In [250]:
queens = result_df8[result_df8.Borough == 'QUEENS']

queensnoise = queens.groupby(['Zip Code'])['Created_Date'].count()

queensnoise = queensnoise.to_frame()

queensnoise = queensnoise.reset_index()

vioqueens = queens.loc[queens['Zip Code'].unique(),'Violence Crime']

vioqueens = vioqueens.to_frame()

vioqueens = vioqueens.reset_index()

vioqueens.columns = ['Zip Code', 'Violence Crime']

que = pd.merge(queensnoise,vioqueens, on = 'Zip Code')

que['Created_Date'].corr(que['Violence Crime'])

0.19812944930338669

In [253]:
manhattan = result_df8[result_df8.Borough == 'MANHATTAN']

mannoise = manhattan.groupby(['Zip Code'])['Created_Date'].count()

mannoise = mannoise.to_frame()

mannoise = mannoise.reset_index()

vioman = manhattan.loc[manhattan['Zip Code'].unique(),'Violence Crime']

vioman = vioman.to_frame()

vioman = vioman.reset_index()

vioman.columns = ['Zip Code', 'Violence Crime']

man = pd.merge(mannoise,vioman, on = 'Zip Code')

man['Created_Date'].corr(man['Violence Crime'])

-0.36239920526122776

In [255]:
bronx = result_df8[result_df8.Borough == 'BRONX']

bronxnoise = bronx.groupby(['Zip Code'])['Created_Date'].count()

bronxnoise = bronxnoise.to_frame()

bronxnoise = bronxnoise.reset_index()

viobro = bronx.loc[bronx['Zip Code'].unique(),'Violence Crime']

viobro = viobro.to_frame()

viobro = viobro.reset_index()

viobro.columns = ['Zip Code', 'Violence Crime']

bro = pd.merge(bronxnoise,viobro,on = 'Zip Code')

bro['Created_Date'].corr(bro['Violence Crime'])

-0.89481627688295318

In [258]:
staten = result_df8[result_df8.Borough == 'STATEN ISLAND']

statennoise = staten.groupby(['Zip Code'])['Created_Date'].count()

statennoise = statennoise.to_frame()

statennoise = statennoise.reset_index()

viostaten = result_df8.loc[staten['Zip Code'].unique(),'Violence Crime']

viostaten = viostaten.to_frame()

viostaten = viostaten.reset_index()

viostaten.columns = ['Zip Code', 'Violence Crime']

sta = pd.merge(statennoise,viostaten,on = 'Zip Code')

sta['Created_Date'].corr(sta['Violence Crime'])

0.24881384881704519

In [249]:
brooklyn = result_df8[result_df8.Borough == 'BROOKLYN']

brooklynnoise = brooklyn.groupby(['Zip Code'])['Created_Date'].count()

brooklynnoise = brooklynnoise.to_frame()

brooklynnoise = brooklynnoise.reset_index()

misdbrooklyn = brooklyn.loc[brooklyn['Zip Code'].unique(),'Misd Crime']

misdbrooklyn = misdbrooklyn.to_frame()

misdbrooklyn = misdbrooklyn.reset_index()

misdbrooklyn.columns = ['Zip Code', 'Misd Crime']

brook = pd.merge(brooklynnoise,misdbrooklyn, on = 'Zip Code')

brook['Created_Date'].corr(brook['Misd Crime'])

-0.021766092498476532

In [252]:
queens = result_df8[result_df8.Borough == 'QUEENS']

queensnoise = queens.groupby(['Zip Code'])['Created_Date'].count()

queensnoise = queensnoise.to_frame()

queensnoise = queensnoise.reset_index()

misdqueens = queens.loc[queens['Zip Code'].unique(),'Misd Crime']

misdqueens = misdqueens.to_frame()

misdqueens = misdqueens.reset_index()

misdqueens.columns = ['Zip Code', 'Misd Crime']

que = pd.merge(queensnoise,misdqueens, on = 'Zip Code')

que['Created_Date'].corr(que['Misd Crime'])

0.14821756134737801

In [254]:
manhattan = result_df8[result_df8.Borough == 'MANHATTAN']

mannoise = manhattan.groupby(['Zip Code'])['Created_Date'].count()

mannoise = mannoise.to_frame()

mannoise = mannoise.reset_index()

misdman = manhattan.loc[manhattan['Zip Code'].unique(),'Misd Crime']

misdman = misdman.to_frame()

misdman = misdman.reset_index()

misdman.columns = ['Zip Code', 'Misd Crime']

man = pd.merge(mannoise,misdman, on = 'Zip Code')

man['Created_Date'].corr(man['Misd Crime'])

-0.37741472947351978

In [308]:
bronx = result_df8[result_df8.Borough == 'BRONX']

bronxnoise = bronx.groupby(['Zip Code'])['Created_Date'].count()

bronxnoise = bronxnoise.to_frame()

bronxnoise = bronxnoise.reset_index()

misdbro = bronx.loc[bronx['Zip Code'].unique(),'Misd Crime']

misdbro = misdbro.to_frame()

misdbro = misdbro.reset_index()

misdbro.columns = ['Zip Code', 'Misd Crime']

bro = pd.merge(bronxnoise,misdbro,on = 'Zip Code')

bro['Created_Date'].corr(bro['Misd Crime'])

-0.90968874972255398

In [259]:
staten = result_df8[result_df8.Borough == 'STATEN ISLAND']

statennoise = staten.groupby(['Zip Code'])['Created_Date'].count()

statennoise = statennoise.to_frame()

statennoise = statennoise.reset_index()

misdstaten = result_df8.loc[staten['Zip Code'].unique(),'Misd Crime']

misdstaten = misdstaten.to_frame()

misdstaten = misdstaten.reset_index()

misdstaten.columns = ['Zip Code', 'Misd Crime']

sta = pd.merge(statennoise,misdstaten,on = 'Zip Code')

sta['Created_Date'].corr(sta['Misd Crime'])

0.67914669692138319

In [294]:
brooklyn = result_df8[result_df8.Borough == 'BROOKLYN']

brooklynnoise = brooklyn.groupby(['Zip Code'])['Created_Date'].count()

brooklynnoise = brooklynnoise.to_frame()

brooklynnoise = brooklynnoise.reset_index()

majorbrooklyn = result_df8.loc[brooklyn['Zip Code'].unique(),'Major Crime']

majorbrooklyn = majorbrooklyn.to_frame()

majorbrooklyn = majorbrooklyn.reset_index()

majorbrooklyn.columns = ['Zip Code', 'Major Crime']

brook = pd.merge(brooklynnoise,majorbrooklyn, on = 'Zip Code')

brook['Created_Date'].corr(brook['Major Crime'])

-0.054068186633612188

In [293]:
queens = result_df8[result_df8.Borough == 'QUEENS']

queensnoise = queens.groupby(['Zip Code'])['Created_Date'].count()

queensnoise = queensnoise.to_frame()

queensnoise = queensnoise.reset_index()

majorqueens = result_df8.loc[queens['Zip Code'].unique(),'Major Crime']

majorqueens = majorqueens.to_frame()

majorqueens = majorqueens.reset_index()

majorqueens.columns = ['Zip Code', 'Major Crime']

que = pd.merge(queensnoise,majorqueens, on = 'Zip Code')

que['Created_Date'].corr(que['Major Crime'])

-0.11219608613261618

In [292]:
manhattan = result_df8[result_df8.Borough == 'MANHATTAN']

mannoise = manhattan.groupby(['Zip Code'])['Created_Date'].count()

mannoise = mannoise.to_frame()

mannoise = mannoise.reset_index()

majorman = result_df8.loc[manhattan['Zip Code'].unique(),'Major Crime']

majorman = majorman.to_frame()

majorman = majorman.reset_index()

majorman.columns = ['Zip Code', 'Major Crime']

man = pd.merge(mannoise,majorman, on = 'Zip Code')

man['Created_Date'].corr(man['Major Crime'])

-0.35823926567029368

In [290]:
bronx = result_df8[result_df8.Borough == 'BRONX']

bronxnoise = bronx.groupby(['Zip Code'])['Created_Date'].count()

bronxnoise = bronxnoise.to_frame()

bronxnoise = bronxnoise.reset_index()

majorbro = result_df8.loc[bronx['Zip Code'].unique(),'Major Crime']

majorbro = majorbro.to_frame()

majorbro = majorbro.reset_index()

majorbro.columns = ['Zip Code', 'Major Crime']

bro = pd.merge(bronxnoise,majorbro,on = 'Zip Code')

bro['Created_Date'].corr(bro['Major Crime'])

-0.19175668587164957

In [271]:
staten = result_df8[result_df8.Borough == 'STATEN ISLAND']

statennoise = staten.groupby(['Zip Code'])['Created_Date'].count()

statennoise = statennoise.to_frame()

statennoise = statennoise.reset_index()

majorstaten = result_df8.loc[staten['Zip Code'].unique(),'Major Crime']

majorstaten = majorstaten.to_frame()

majorstaten = majorstaten.reset_index()

majorstaten.columns = ['Zip Code', 'Major Crime']

sta = pd.merge(statennoise,majorstaten,on = 'Zip Code')

sta['Created_Date'].corr(sta['Major Crime'])

0.3890142951029476

In [288]:
brooklyn = result_df8[result_df8.Borough == 'BROOKLYN']

brooklynnoise = brooklyn.groupby(['Zip Code'])['Created_Date'].count()

brooklynnoise = brooklynnoise.to_frame()

brooklynnoise = brooklynnoise.reset_index()


nonmajorbrooklyn = brooklyn.loc[brooklyn['Zip Code'].unique(),'Nonmajor Crime']


nonmajorbrooklyn = nonmajorbrooklyn.to_frame()


nonmajorbrooklyn = nonmajorbrooklyn.reset_index()


nonmajorbrooklyn.columns = ['Zip Code', 'Nonmajor Crime']


brook = pd.merge(brooklynnoise,nonmajorbrooklyn, on = 'Zip Code')

brook['Created_Date'].corr(brook['Nonmajor Crime'])

-0.15069967301919987

In [312]:
queens = result_df8[result_df8.Borough == 'QUEENS']

queensnoise = queens.groupby(['Zip Code'])['Created_Date'].count()

queensnoise = queensnoise.to_frame()

queensnoise = queensnoise.reset_index()

nonmajorqueens = result_df8.loc[queens['Zip Code'].unique(),'Nonmajor Crime']

nonmajorqueens = nonmajorqueens.to_frame()

nonmajorqueens = nonmajorqueens.reset_index()

nonmajorqueens.columns = ['Zip Code', 'Nonmajor Crime']

que = pd.merge(queensnoise,nonmajorqueens, on = 'Zip Code')

que['Created_Date'].corr(que['Nonmajor Crime'])

-0.20312718258233411

In [314]:
manhattan = result_df8[result_df8.Borough == 'MANHATTAN']

mannoise = manhattan.groupby(['Zip Code'])['Created_Date'].count()

mannoise = mannoise.to_frame()

mannoise = mannoise.reset_index()

nonmajorman = result_df8.loc[manhattan['Zip Code'].unique(),'Nonmajor Crime']

nonmajorman = nonmajorman.to_frame()

nonmajorman = nonmajorman.reset_index()

nonmajorman.columns = ['Zip Code', 'Nonmajor Crime']

man = pd.merge(mannoise,nonmajorman, on = 'Zip Code')

man['Created_Date'].corr(man['Nonmajor Crime'])

-0.2811725689969371

In [338]:
bronx = result_df8[result_df8.Borough == 'BRONX']

bronxnoise = bronx.groupby(['Zip Code'])['Created_Date'].count()

bronxnoise = bronxnoise.to_frame()

bronxnoise = bronxnoise.reset_index()


nonmajorbro = bronx.loc[bronx['Zip Code'].unique(),'Nonmajor Crime']



nonmajorbro = nonmajorbro.to_frame()

nonmajorbro = nonmajorbro.reset_index()



nonmajorbro.columns = ['Zip Code', 'Nonmajor Crime']



bro = pd.merge(bronxnoise,nonmajorbro,on = 'Zip Code')

bro['Created_Date'].corr(bro['Nonmajor Crime'])

0.45300659131093574

In [336]:
staten = result_df8[result_df8.Borough == 'STATEN ISLAND']

statennoise = staten.groupby(['Zip Code'])['Created_Date'].count()

statennoise = statennoise.to_frame()

statennoise = statennoise.reset_index()

nonmajorstaten = result_df8.loc[staten['Zip Code'].unique(),'Nonmajor Crime']

nonmajorstaten = nonmajorstaten.to_frame()

nonmajorstaten = nonmajorstaten.reset_index()

nonmajorstaten.columns = ['Zip Code', 'Nonmajor Crime']

sta = pd.merge(statennoise,nonmajorstaten,on = 'Zip Code')

sta['Created_Date'].corr(sta['Nonmajor Crime'])

0.69206882608350062

In [334]:
brooklyn = result_df8[result_df8.Borough == 'BROOKLYN']

brooklynnoise = brooklyn.groupby(['Zip Code'])['Created_Date'].count()

brooklynnoise = brooklynnoise.to_frame()

brooklynnoise = brooklynnoise.reset_index()


povertybrooklyn = result_df8.loc[brooklyn['Zip Code'].unique(),'% Poverty Level']

povertybrooklyn = povertybrooklyn.to_frame()


povertybrooklyn = povertybrooklyn.reset_index()


povertybrooklyn.columns = ['Zip Code', '% Poverty Level']


brook = pd.merge(brooklynnoise,povertybrooklyn, on = 'Zip Code')

brook['Created_Date'].corr(brook['% Poverty Level'])

0.096724699541514164

In [333]:
queens = result_df8[result_df8.Borough == 'QUEENS']

queensnoise = queens.groupby(['Zip Code'])['Created_Date'].count()

queensnoise = queensnoise.to_frame()

queensnoise = queensnoise.reset_index()

povertyqueens = result_df8.loc[queens['Zip Code'].unique(),'% Poverty Level']

povertyqueens = povertyqueens.to_frame()

povertyqueens = povertyqueens.reset_index()

povertyqueens.columns = ['Zip Code', '% Poverty Level']

que = pd.merge(queensnoise,povertyqueens, on = 'Zip Code')

que['Created_Date'].corr(que['% Poverty Level'])

-0.20930150317153817

In [346]:
manhattan = result_df8[result_df8.Borough == 'MANHATTAN']

mannoise = manhattan.groupby(['Zip Code'])['Created_Date'].count()

mannoise = mannoise.to_frame()

mannoise = mannoise.reset_index()

povertyman = result_df8.loc[manhattan['Zip Code'].unique(),'% Poverty Level']

povertyman = povertyman.to_frame()

povertyman = povertyman.reset_index()

povertyman.columns = ['Zip Code', '% Poverty Level']

man = pd.merge(mannoise,povertyman, on = 'Zip Code')

man['Created_Date'].corr(man['% Poverty Level'])

-0.15891551036030188

In [345]:
bronx = result_df8[result_df8.Borough == 'BRONX']

bronxnoise = bronx.groupby(['Zip Code'])['Created_Date'].count()

bronxnoise = bronxnoise.to_frame()

bronxnoise = bronxnoise.reset_index()

povertybro = result_df8.loc[bronx['Zip Code'].unique(),'% Poverty Level']



povertybro = povertybro.to_frame()

povertybro = povertybro.reset_index()



povertybro.columns = ['Zip Code', '% Poverty Level']



bro = pd.merge(bronxnoise,povertybro,on = 'Zip Code')

bro['Created_Date'].corr(bro['% Poverty Level'])

0.19568759954111087

In [349]:
staten = result_df8[result_df8.Borough == 'STATEN ISLAND']

statennoise = staten.groupby(['Zip Code'])['Created_Date'].count()

statennoise = statennoise.to_frame()

statennoise = statennoise.reset_index()

povertystaten = result_df8.loc[staten['Zip Code'].unique(),'% Poverty Level']

povertystaten = povertystaten.to_frame()

povertystaten = povertystaten.reset_index()

povertystaten.columns = ['Zip Code', '% Poverty Level']

sta = pd.merge(statennoise,povertystaten,on = 'Zip Code')

sta['Created_Date'].corr(sta['% Poverty Level'])

0.43566130850485063

In [115]:
vio_bin1 = result_df8.loc[result_df8['Violence Binning'] == 'VC Low Outliers','Violence Binning']
vio_bin2 = result_df8.loc[result_df8['Violence Binning'] == 'VC Lower than IQR','Violence Binning']
vio_bin3 = result_df8.loc[result_df8['Violence Binning'] == 'VC Within Lower IQR','Violence Binning']
vio_bin4 = result_df8.loc[result_df8['Violence Binning'] == 'VC Within Higher IQR','Violence Binning']
vio_bin5 = result_df8.loc[result_df8['Violence Binning'] == 'VC Higher than IQR','Violence Binning']
vio_bin6 = result_df8.loc[result_df8['Violence Binning'] == 'VC High Outliers','Violence Binning']

In [116]:
vio_array = [len(vio_bin1),len(vio_bin2),len(vio_bin3),len(vio_bin4),len(vio_bin5),len(vio_bin6)]

In [117]:
vio_array

[0, 300762, 283377, 289239, 236629, 40571]

In [3]:
neighborhood = pd.read_csv( "/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/revised_result_df.csv",sep = '\t')

In [4]:
neighborzip = pd.read_csv( "/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/zipcodes.tsv",sep = '\t')

In [5]:
neighborzip.columns = ['Borough', 'Neighborhood', 'Zip Code']

In [6]:
neighborhood.shape

(1539582, 17)

In [7]:
neighborzip = neighborzip.drop(['Borough'],1)

In [8]:
neighbor = pd.merge(neighborhood, neighborzip, how='left', on=['Zip Code'])

In [9]:
neighbor.shape

(1539582, 18)

In [10]:
neighbor = neighbor.drop(['Unnamed: 0'], 1)

In [11]:
cols = neighbor.columns.tolist()

In [12]:
cols = cols[-1:] + cols[:-1]

In [13]:
neighbor = neighbor[cols]

In [14]:
neighbor.Borough.unique()

array(['BROOKLYN', 'QUEENS', 'MANHATTAN', 'BRONX', 'STATEN ISLAND',
       'Unspecified'], dtype=object)

In [42]:
brooklyn = neighbor[neighbor.Borough == 'BROOKLYN']

In [43]:
brooklyn = brooklyn.reset_index()

In [49]:
brooklyn = brooklyn.drop(['index'],1)

In [48]:
brooklyn.columns

Index(['index', 'Neighborhood', 'Created_Date', 'Complaint Type', 'Descriptor',
       'Location Type', 'Zip Code', 'City', 'Borough', 'Precinct',
       'Population', '% Poverty Level', 'Year', 'Violence Binning',
       'Misd Binning', 'Major Binning', 'Nonmajor Binning', 'Noise Binning'],
      dtype='object')

In [51]:
brooklyn.to_csv("brooklyn.csv",sep = '\t')

In [52]:
queens = neighbor[neighbor.Borough == 'QUEENS']

In [53]:
queens = queens.reset_index()

In [54]:
queens = queens.drop(['index'],1)

In [58]:
queens.to_csv('queens.csv',sep = '\t')

In [62]:
manhattan = neighbor[neighbor.Borough == 'MANHATTAN']

In [63]:
manhattan = manhattan.reset_index()

In [64]:
manhattan = manhattan.drop(['index'],1)

In [67]:
manhattan.to_csv('manhattan.csv',sep = '\t')

In [68]:
bronx = neighbor[neighbor.Borough == 'BRONX']

In [69]:
bronx = bronx.reset_index()

In [70]:
bronx = bronx.drop(['index'],1)

In [71]:
bronx.to_csv('bronx.csv',sep = '\t')

In [74]:
staten = neighbor[neighbor.Borough == 'STATEN ISLAND']

In [79]:
staten = staten.reset_index()

In [80]:
staten = staten.drop(['index'],1)

In [81]:
staten.to_csv('staten.csv',sep = '\t')

In [16]:
new = pd.read_csv( "/Users/YuchenZheng/Desktop/Data Science/Data Mining/final project/povertylevel.csv",sep = '\t')

In [17]:
new.columns

Index(['Unnamed: 0', 'Zip Code', 'Poverty Level'], dtype='object')

In [19]:
new = new.drop(['Unnamed: 0'], 1)

In [20]:
def newbinning(column):
    median = column.median()
    bins = [-999999, median, 999999]
    bin_names = ['Poverty Level Lower than Median', 'Poverty Level Higher than Median']
    result_dfs = pd.cut(column, bins, labels=bin_names)
    return(result_dfs)

In [23]:
new.loc[:,['Poverty Level']] = newbinning(new['Poverty Level'])

In [25]:
newneighbor = neighbor.drop(['% Poverty Level'],1)

In [26]:
newfinal = pd.merge(newneighbor, new, how='left', on=['Zip Code'])

In [28]:
newfinal.to_csv('newfinal.csv', sep = '\t')